body {
  font-family: "Poppins", sans-serif;
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  line-height: 2.1em;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.8em;
  transition: all 0.15s ease;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: 20px;
  background: white;
  padding-top: 10px;
}

.socials a:hover {
  text-shadow: 2px 2px 15px black;
  color: none;
  transform: scale(1.1);
  text-shadow: 2px 2px 15px black;
  color: white;
}

@keyframes slideUpFadeIn {
  from {
    margin-top: 150px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.intro,
.projects {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

img {
  width: 80%;
  box-shadow: 1px 1px 10px gray;
  justify-self: center;
  margin: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  animation-name: slideUpFadeIn;
  animation-duration: 0.9s;
}

h3 {
  text-decoration: underline;
  text-decoration-color: #f0c77cea;
}

.projects {
  line-height: 2.5em;
  margin-top: -10%
}

.projects img {
  margin: 200px 0 10px 0;
}

.projects p {
  margin-top: -20px;
}

.projects a {
  margin: none;
  font-size: 1em;
}

.projects-header {
  margin-bottom: -4%;
}

.intro button {
  border: 2px solid #f0c77cea;
  color: #f0c77cea;
  padding: 5px;
  background: none;
  transition: all 0.1s linear;
}

.intro button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

@media (max-width: 700px) {
  body {
    font-size: 1.2em;
  }

  .intro {
    width: 80vw;
  }

  .socials {
    top: 93vh;
    left: 0;
    flex-direction: row;
  }

  .projects-header { margin-bottom: -20%;}
}
