:root {
  --gray: #4b4b4b;
}

.App {
  color: var(--gray);
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("https://res.cloudinary.com/bfrest/image/upload/v1544274763/blog/what-the-hex.png");
  font-size: 1.2em;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
}

a {
  color: var(--gray);
  text-decoration: none;
  font-size: 2em;
}

li {
  list-style: none;
}

.desc {
  margin-top: -20px;
}

.fa {
  width: 55px;
  height: 60px;
}

.fa-twitter:hover {
  color: #1da1f2;
  text-shadow: 0px 0px 8px #1da1f2;
}

.fa-instagram:hover {
  color: #ff7979;
  text-shadow: 0px 0px 8px #ff7979;
}

.fa-github:hover {
  color: #535c68;
  text-shadow: 0px 0px 8px #535c68;
}

.fa-codepen:hover {
  color: #7ed6df;
  text-shadow: 0px 0px 8px #7ed6df;
}

.fa-linkedin:hover {
  color: #5352ed;
  text-shadow: 0px 0px 8px #5352ed;
}

.logos {
  height: 80px;
  width: 100px;
  margin: 10px 5px 10px 5px;
}

.tech-logos {
  width: 450px;
}

.tech {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  align-self: center;
  justify-self: center;
  border: 2px solid darksalmon;
}

@media (max-width: 430px) {
  .tech-logos {
    width: 95vw;
  }
}
