:root {
  --gray: #4b4b4b;
}

.App {
  font-family: "Trebuchet MS";
  display: flex;
  flex-direction: column;
  text-align: center;
  background-size: fill;
  box-sizing: border-box;
  justify-content: center;
  font-size: 0.9rem;
  line-height: 3.4em;
  width: 100vw;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

.desc {
  margin-top: -20px;
}

.logos {
  height: 60px;
  padding: 3px;
}

.tech {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tech-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.center {
  align-self: center;
  justify-self: center;
  border: 2px solid darksalmon;
}

@media (min-width: 700px) {
  .App {
    font-size: 1.2rem;
  }
}
